html {
  background: url(/static/camo_back.png) repeat;
}

.content-holder {
    margin-top: 100px;
    margin-bottom: 100px;
}

.result-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center !important;
}

.btn-holder {
    width: 100%;
    text-align: right;
}

label {
    font-size: 10pt;
    text-align: left !important;
    margin-bottom: 5px !important;
}

.btn {
    background-color: rgb(85, 107, 47);
    color: rgb(245, 245, 245);
}

.btn.disabled, .btn.disabled:hover {
    color: rgb(51, 51, 51);
}

.btn:hover {
    background-color: rgba(85, 107, 47, 0.9);
    color: rgb(245, 245, 245);
}

.subform {
    width: 23%;
    margin: 10px 1%;
    display: inline-block;
    float: left;
    padding: 20px 30px;
}

.hidden-help {
    opacity: 0;
    padding: 10px;
}

.content-holder table {
    font-size: 10pt;
    margin: 0;
}

.result-holder table tbody tr {
    color: grey;
}

.result-holder table tbody tr:first-of-type {
    font-size: 14pt;
    color: #000000;
}

th {
    text-align: center !important;
}

h3 {
    text-align: center !important;
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

@media screen and (max-width: 991px) {

    .hidden-help {
       display: none;
    }

    .subform {
        width: 46%;
        margin: 10px 2%;
    }

}