<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lab. 1 sem. 2</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/validator.min.js"></script>
    <script src="{{ STATIC_URL }}js/home.js"></script>
</head>
<body>
    <div class="content-holder well col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" data-toggle="validator" role="form" method="post">
            {% csrf_token %}
            {% load widget_tweaks %}
             <div class="form-group">
                <h3 class="control-label col-sm-3">Tanks</h3>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="id_tank_speed">Max speed (km/h):</label>
                <div class="col-sm-8">
                    {{ form.tank_speed|add_class:"form-control"|attr:"required" }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="id_tank_fuel">Fuel distance (km):</label>
                <div class="col-sm-8">
                    {{ form.tank_fuel|add_class:"form-control"|attr:"required" }}
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="id_tank_gauge">Armor gauge (mm):</label>
                <div class="col-sm-8">
                    {{ form.tank_gauge|add_class:"form-control"|attr:"required" }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>