<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Lab. 1 sem. 2</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css">

    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/validator.min.js"></script>
    <script src="{{ STATIC_URL }}js/home.js"></script>
</head>
<body>
    <div class="content-holder col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        <form class="form-horizontal" data-toggle="validator" role="form" method="post">
            {% csrf_token %}

            {% load widget_tweaks %}
            <div class="col-md-12">
                <div class="subform well hidden-help" id="tank_help">
                    <table class="table">
                        <thead>
                            <th>MODEL</th>
                            <th>SPE</th>
                            <th>FUE</th>
                            <th>GAU</th>
                        </thead>
                        <tbody>
                            {% for tank in tanks %}
                                <tr>
                                    <td>{{ tank.name }}</td>
                                    <td>{{ tank.maxSpeed }}</td>
                                    <td>{{ tank.powerOfMarch }}</td>
                                    <td>{{ tank.caliber }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="subform well" id="tank_form">
                    <div class="form-group">
                        <h3 class="control-label">Tanks</h3>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_tank_speed">Speed (km/h):</label>
                        <div class="col-sm-12">
                            {{ form.tank_speed|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_tank_fuel">Fuel (km):</label>
                        <div class="col-sm-12">
                            {{ form.tank_fuel|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_tank_gauge">Gauge (mm):</label>
                        <div class="col-sm-12">
                            {{ form.tank_gauge|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                </div>
                <div class="subform well" id="bmp_form">
                    <div class="form-group">
                        <h3 class="control-label">APCs</h3>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_bmp_speed">Speed (km/h):</label>
                        <div class="col-sm-12">
                            {{ form.bmp_speed|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_bmp_soldiers">Soldiers count:</label>
                        <div class="col-sm-12">
                            {{ form.bmp_soldiers|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_bmp_armor">Armor (mm):</label>
                        <div class="col-sm-12">
                            {{ form.bmp_armor|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                </div>
                <div class="subform well hidden-help" id="bmp_help">
                    <table class="table">
                        <thead>
                            <th>MODEL</th>
                            <th>SPE</th>
                            <th>SOL</th>
                            <th>ARM</th>
                        </thead>
                        <tbody>
                            {% for apc in apcs %}
                                <tr>
                                    <td>{{ apc.name }}</td>
                                    <td>{{ apc.maxSpeed }}</td>
                                    <td>{{ apc.soldiers }}</td>
                                    <td>{{ apc.armor }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="subform well hidden-help" id="plane_help">
                    <table class="table">
                        <thead>
                            <th>MODEL</th>
                            <th>SPE</th>
                            <th>RAD</th>
                            <th>GAU</th>
                            <th>ALT</th>
                        </thead>
                        <tbody>
                            {% for plane in planes %}
                                <tr>
                                    <td>{{ plane.name }}</td>
                                    <td>{{ plane.maxSpeed }}</td>
                                    <td>{{ plane.attackRadius }}</td>
                                    <td>{{ plane.calibre }}</td>
                                    <td>{{ plane.flightAltitude }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="subform well" id="plane_form">
                    <div class="form-group">
                        <h3 class="control-label">Planes</h3>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_plane_speed">Speed (km/h):</label>
                        <div class="col-sm-12">
                            {{ form.plane_speed|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_plane_attack_radius">Attack radius (km):</label>
                        <div class="col-sm-12">
                            {{ form.plane_attack_radius|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_plane_gauge">Gauge (mm):</label>
                        <div class="col-sm-12">
                            {{ form.plane_gauge|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_plane_altitude">Altitude (km):</label>
                        <div class="col-sm-12">
                            {{ form.plane_altitude|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                </div>
                <div class="subform well" id="ship_form">
                    <div class="form-group">
                        <h3 class="control-label">Ships</h3>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_ship_speed">Speed (km/h):</label>
                        <div class="col-sm-12">
                            {{ form.ship_speed|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_ship_carrying">Carrying (t):</label>
                        <div class="col-sm-12">
                            {{ form.ship_carrying|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_ship_planes_count">Planes count:</label>
                        <div class="col-sm-12">
                            {{ form.ship_planes_count|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_ship_soldiers">Soldiers count:</label>
                        <div class="col-sm-12">
                            {{ form.ship_soldiers|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                </div>
                <div class="subform well hidden-help" id="ship_help">
                    <table class="table">
                        <thead>
                            <th>MODEL</th>
                            <th>SPE</th>
                            <th>CAR</th>
                            <th>PLA</th>
                            <th>SOL</th>
                        </thead>
                        <tbody>
                            {% for ship in ships %}
                                <tr>
                                    <td>{{ ship.name }}</td>
                                    <td>{{ ship.maxSpeed }}</td>
                                    <td>{{ ship.carrying }}</td>
                                    <td>{{ ship.planesOnBoard }}</td>
                                    <td>{{ ship.soldiers }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12">
                <div class="subform well hidden-help" id="pvo_help">
                    <table class="table">
                        <thead>
                            <th>MODEL</th>
                            <th>SPE</th>
                            <th>RAD</th>
                            <th>HEI</th>
                        </thead>
                        <tbody>
                            {% for caw in caws %}
                                <tr>
                                    <td>{{ caw.name }}</td>
                                    <td>{{ caw.warheadSpeed }}</td>
                                    <td>{{ caw.attackRadius }}</td>
                                    <td>{{ caw.attackHeight }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="subform well" id="pvo_form">
                    <div class="form-group">
                        <h3 class="control-label">CAWs</h3>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_pvo_speed">Warhead speed (km/h):</label>
                        <div class="col-sm-12">
                            {{ form.pvo_speed|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_pvo_attack_radius">Attack radius (km):</label>
                        <div class="col-sm-12">
                            {{ form.pvo_attack_radius|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_pvo_attack_height">Attack height (km):</label>
                        <div class="col-sm-12">
                            {{ form.pvo_attack_height|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                </div>
                <div class="subform well">
                    <div class="form-group">
                        <h3 class="control-label">&nbsp;</h3>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="id_budget">Budget ($):</label>
                        <div class="col-sm-12">
                            {{ form.budget|add_class:"form-control"|attr:"required" }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-holder col-sm-12">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>